<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a id="title" routerLink="" routerLinkActive="active"><img src="../../assets/graffiti-logo.png" alt="image"></a>
    <div class="links">
      <a mat-raised-button routerLink="/" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">home</mat-icon> Home</a>
      <a mat-raised-button routerLink="/about" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon> About</a>
      <a mat-raised-button routerLink="/projects" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">code</mat-icon> Projects</a>
    </div>
    <div class="hamburger">
      <button mat-raised-button [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false" aria-label="info icon">menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">home</mat-icon> Home</a>
        <a mat-menu-item routerLink="/about" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon> About</a>
        <a mat-menu-item routerLink="/projects" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">code</mat-icon> Projects</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
