<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a id="title" routerLink="" routerLinkActive="active"><img src="../../assets/graffiti-logo.png" alt="image"></a>
    <div class="links">
      <a mat-raised-button routerLink="/" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">home</mat-icon> Home</a>
      <a mat-raised-button routerLink="/about" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon> About</a>
      <a mat-raised-button routerLink="/projects" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="info icon">code</mat-icon> Projects</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
