.links, .hamburger {
  justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.links > a {
  margin: 5px;
}
.hamburger {
  display:none;
}

a, img {
  height: 90%;
  width: auto;
}

@media (max-width: 600px) {
  .links {
    display:none;
  }
  .hamburger {
    display: block;
  }
}

