<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Secret Santa</mat-card-title>
    <mat-card-subtitle>Web Application</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images.unsplash.com/photo-1482517716521-3120e5340ed3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Merry Christmas">
  <mat-card-content>
    <p>
      Secret Santa website blah blah blah
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>View on Github</button>
  </mat-card-actions>
</mat-card>
