.example-card {
  /*max-width: 400px;*/
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
