<div class="component-body">
  <h1>This is the projcets page.</h1>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Secret Santa</mat-card-title>
      <mat-card-subtitle>Web Application</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/transparent-logo.png" alt="Merry Christmas">
    <mat-card-content>
      <p>
        Secret Santa website blah blah blah
      </p>
    </mat-card-content>
    <mat-card-actions class="alternate-theme">
      <button mat-raised-button color="primary">View on Github</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Secret Santa</mat-card-title>
      <mat-card-subtitle>Web Application</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/graffiti-logo.png" alt="Merry Christmas">
    <mat-card-content>
      <p>
        Secret Santa website blah blah blah
      </p>
    </mat-card-content>
    <mat-card-actions class="alternate-theme">
      <button mat-raised-button color="primary">View on Github</button>
    </mat-card-actions>
  </mat-card>

</div>
