<div class="component-body">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Barber Shop"><iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="500" style="width:100%;max-width:800px;overflow:hidden;background:transparent; display: block;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/barber-shop/pl.u-aZb00D9sRY279J?app=music"></iframe>
    </mat-tab>
    <mat-tab label="Classics"><iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="500" style="width:100%;max-width:800px;overflow:hidden;background:transparent; display: block;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/batting-practice/pl.u-mJy81XBIYMWrG2?app=music"></iframe>
    </mat-tab>
    <mat-tab label="Study"><iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="500" style="width:100%;max-width:800;overflow:hidden;background:transparent; display: block;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/study/pl.u-aZb0k26uRY279J?app=music"></iframe>
    </mat-tab>
  </mat-tab-group>
</div>
