/* You can add global styles to this file, and also import other style files */

@import "./custom-theme";

:root {
  --linear-background: #DDD;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(160deg, var(--linear-background) 65%, rgba(255,255,255,1) 65%) no-repeat center center fixed !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

html {

}


.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: pink !important;}


.component-body {
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
}

mat-icon {

}
