/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import "./custom-theme";
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.component-body {
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(170deg, rgba(255,255,255,1) 60%, $greenprimary 60%);
}

mat-icon {
  color: rgba(67, 66, 73, 0.87);
}
